:root {
    --icon-url-base: "http://www.entypo.com/images/";
    --icon-url-dashboard: "@{icon-url-base}/gauge.svg";
    --icon-url-customers: "@{icon-url-base}/briefcase.svg";
    --icon-url-users: "@{icon-url-base}/users.svg";
    --icon-url-settings: "@{icon-url-base}/tools.svg";
}

body {
    background:#ffea92;
    margin:0;
	font-family:"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#fff;
	padding-left:240px;
}

.avatar {
    margin-top: 10px;
    overflow:hidden;
    background:rgba(0,0,0,0.1);
}

.circular--square {
    border-radius: 50%;
    border-color: black;
    border-width: 1.5px;
}

.menu {
	background:#5bc995;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
    outline:none;
    text-align: center;
}

ul {
    list-style:none;
    padding:0.5em 0;
    margin:0;
}

li {

    padding:0.5em 1em 0.5em 3em;
    font-size:1.4em;
    -webkit-text-fill-color: whitesmoke;
    font-weight:regular;
    background-repeat:no-repeat;
    background-position:left 15px center;
    background-size:auto 20px;
    transition:all 0.15s linear;
    cursor:pointer;
}


ul > li:hover {
    background-color:rgba(0,0,0,0.1);
}

ul > li:focus {
    outline:none;
}

li > a {
    background-repeat: no-repeat;
    background-position: 50% 10px;
}
    
main {
    position:center;
    height:100vh;
    background: #ffea92;
}

main.helper {

    background:rgba(0,0,0,0.2);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-50%,-50%,0);
    padding:1.2em 2em;
    text-align:center;
    border-radius:20px;
    font-size:2em;
    font-weight:bold;
}


.helper.span {
    color:rgba(0,0,0,0.2);
    font-size:0.4em;
    display:block;
}

#upload-file-btn {
    margin-top: 5%;
}

#container {
    align-items: center;
    top: 50%;
    left: 50%;
    margin-top: 20%;
    vertical-align: middle;
}​  

#spinner {
    position: relative;
    visibility: hidden;
}

  
  .shadow {
      margin: 2%;
      background-color: #5bc995; /* Black */
  }
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
  }