<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{url_for('css_static', filename='upload.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Dog Breed Classifier</title>
  </head>

  <body>
    <nav class="menu" tabindex="0">
      <header class="avatar">
        <div class="circular--square">
            <img id='image_view' src="{{url_for('images_static', filename='dog_icon.png')}}">
        </div>
      </header>
      <div >
        <h2>Name</h2>
      </div>
      <!-- <div class="d-flex justify-content-center">
      </div> -->
      <div  class="shadow p-3 mb-5 rounded">
        <form id="upload-file" method="post" enctype="multipart/form-data">

          <div class="custom-file">
              <input type="file" class="custom-file-input" name="file">
              <label class="custom-file-label" for="file">Choose file</label>
            </div>
          <fieldset>
              <button id="upload-file-btn" type="button" class="btn btn-outline-primary">Upload</button>
          </fieldset>
        </form>
      </div>

      <ul>
          <li tabindex="0" class="icon-ml"><a href="{{url_for('images_static', filename='ml_icon.png')}}"></a><span>Classify</span></li>
          <li tabindex="0" class="icon-breeds"><a href="{{url_for('images_static', filename='breeds_icon.png')}}"></a><span>My Breeds</span></li>
          <li tabindex="0" class="icon-users"><a href="{{url_for('images_static', filename='users_icon.png')}}"></a><span>Contacts</span></li>
      </ul>
    </nav>
    
    <main>
      
      <div class="d-flex justify-content-center">
        <div id='container' class='main'>
          <div class="helper">
                FIND PEOPLE WITH SAME DOG BREED AS YOUR'S
                <span><br>Try It Now</span>
          </div>
          <div id="spinner" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
          </div>
        </div>
          
        <div class="d-flex justify-content-center">
            <h2 id='predicted'></h2>
        </div>
      </div>
    </main>
 
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script src="{{url_for('js_static', filename='upload.js')}}"></script>
    
  </body>
</html>
