<!DOCTYPE html>
<head>
    <title>Login</title>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link rel="stylesheet" href="{{url_for('css_static', filename='login.css')}}"/>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
</head>
<body>
    <div class="main-div row">
        
        <div class="row"><h1>Welcome</h1></div>
        
        <input type="email" placeholder="Email" id="email_field"/>
        <input type="password" placeholder="Password" id="password_field"/>

    
        <div class="row ">
            <button onclick="login()">Login</button>
            <button onclick="register()">Register</button>
        </div>
        
    </div>


    <script src="https://www.gstatic.com/firebasejs/6.4.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.2/firebase-firestore.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script> 
  
    <script src="{{url_for('js_static', filename='login.js')}}"></script>
</body>
</html>